.stats-panel {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  background: #ffffff;
  border-radius: 14px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #777070;
}

.stat-info {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .label {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
  }

  .value {
    font-size: 26px;
    font-weight: 800;
  }

  .blue {
    color: #2563eb;
  }

  .red {
    color: #dc2626;
  }

  .orange {
    color: #f97316;
  }
}

.icon-box {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #000;
}

.icon-box.blue {
  background-color: #B8CEF3;
}
.icon-box.red {
  background-color: #FF837E;
}
.icon-box.orange {
  background-color: #FFAD7E;
}
