<aside class="sidebar">
  <div class="menu-group">
    <span class="menu-title">Dashboard</span>
    <a routerLink="/dashboard" routerLinkActive="active" >Tổng quan</a>
  </div>

  <div class="menu-group">
    <span class="menu-title">Nghỉ phép & Đổi ca</span>
    <a routerLink="/leave-request" routerLinkActive="active">Yêu cầu nghỉ phép</a>
    <a routerLink="/shift-change" routerLinkActive="active">Yêu cầu đổi ca</a>
    <a routerLink="/approvals" routerLinkActive="active">Danh sách chờ duyệt</a>
  </div>

  <div class="menu-group">
    <span class="menu-title">Lương & phụ cấp</span>
    <a routerLink="/salary-overview" routerLinkActive="active">Tổng quan lương tháng</a>
    <a routerLink="/allowances" routerLinkActive="active">Quản lý phụ cấp & OT</a>
    <a routerLink="/salary-report" routerLinkActive="active">Xuất bảng lương</a>
  </div>

  <div class="menu-group">
    <span class="menu-title">Quản trị hệ thống</span>
    <a routerLink="/system" routerLinkActive="active">Quản lý người dùng</a>
    <a routerLink="/log" routerLinkActive="active">Nhật ký hệ thống</a>
    <a routerLink="/leave-report" routerLinkActive="active">Báo cáo nghỉ phép</a>
    <a routerLink="/allowance-report" routerLinkActive="active">Báo cáo lương & phụ cấp</a>
    <a routerLink="/schedule-report" routerLinkActive="active">Báo cáo lịch trực</a>
  </div>
</aside>
