<header class="header">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="HRM Logo" class="logo-icon">
    <span class="logo-text">HRM System</span>
  </div>

  <nav class="nav">
    <a routerLink="/dashboard" routerLinkActive="active" >Dashboard</a>
    <a routerLink="/employees" routerLinkActive="active">Nhân viên</a>
    <a routerLink="/schedule" routerLinkActive="active">Lịch trực</a>
    <a routerLink="/attendance" routerLinkActive="active">Chấm công</a>
    <a routerLink="/reports" routerLinkActive="active">Báo cáo</a>
  </nav>

  <div class="user-section">
    <div class="notification">
      <i class="ri-notification-3-fill"></i>
      <span class="badge">2</span>
    </div>

  <!-- header.html -->
  <div *ngIf="summary$ | async as s" class="user-info"
     (click)="toggleDropdown()"
     [class.active]="dropdownOpen">

  <div class="avatar">
    <img [src]="s.anhDaiDien || '/assets/images/avatar.jpg'" alt="">
  </div>

  <div class="details">
    <span class="name">{{ s.tenNhanVien }}</span>
    <span class="role">{{ s.tenViTri }}</span>
  </div>

  <!-- Dropdown -->
  <div class="dropdown" *ngIf="dropdownOpen">
    <div class="profile">
      <img [src]="s.anhDaiDien || '/assets/images/avatar.jpg'" alt="">
      <div class="info">
        <span class="name">{{ s.tenNhanVien }}</span>
        <span class="email">{{ s.email }}</span>
      </div>
    </div>

    <hr>

    <ul class="menu">
      <li (click)="openProfile()">
        <i class="ri-user-line"></i> Trang cá nhân
      </li>

      <li (click)="openChangePassword()">
        <i class="ri-lock-line"></i> Đổi mật khẩu
      </li>


      <li><i class="ri-settings-3-line"></i> Cài đặt hệ thống</li>
      <li><i class="ri-question-line"></i> Trợ giúp & Hỗ trợ</li>
      <li class="logout" (click)="logout($event)">
        <i class="ri-logout-box-line"></i> Đăng xuất
      </li>

    </ul>
  </div>
</div>

<app-details-profile
  *ngIf="showProfilePopup"
  (closePopup)="closeProfile()">
</app-details-profile>

<app-change-password
  [isOpen]="showChangePassword"
  (closePopup)="showChangePassword = false">
</app-change-password>
  </div>
</header>
