<div class="employees">
  <h2 class="title">Quản lý nhân viên</h2>

<!-- Top -->
    <div class="stats">
        <div class="card success">
            <div class="value">248</div>
            <div class="label">Tổng nhân viên</div>
            <div class="icon"><i class="ri-team-fill"></i></div>
            <span class="change">+2 so với tháng trước</span>
        </div>
        <div class="card info">
            <div class="value">235</div>
            <div class="label">Đang làm việc</div>
            <div class="icon"><i class="ri-briefcase-4-fill"></i></div>
            <span class="change">Sáng: 92</span>
        </div>
        <div class="card remove">
            <div class="value">8</div>
            <div class="label">Nghỉ việc trong năm</div>
            <div class="icon"><i class="ri-user-minus-line"></i></div>
            <span class="change">Vào tháng 3</span>
        </div>
        <div class="card add">
            <div class="value">12</div>
            <div class="label">Nhân viên mới</div>
            <div class="icon"><i class="ri-user-add-line"></i></div>
            <span class="change">Vào tháng 5</span>
        </div>
    </div>
<!-- filter + action -->
 <div class="filter-wrapper">
  <div class="filter-section">
    <div class="filters">
      <div class="search-box">
        <i class="ri-search-line"></i>
        <input type="text" placeholder="Tìm kiếm theo tên, mã nhân viên, mã khoa">
      </div>

      <select>
        <option value="">Tất cả chuyên khoa</option>
        <option>Nội trú</option>
        <option>Ngoại khoa</option>
        <option>Dược</option>
      </select>

      <select>
        <option>Tất cả chức vụ</option>
        <option>Bác sĩ</option>
        <option>Điều dưỡng</option>
        <option>Kỹ thuật viên</option>
      </select>

      <select>
        <option>Tất cả trạng thái</option>
        <option>Đang làm việc</option>
        <option>Tạm nghỉ</option>
        <option>Nghỉ việc</option>
      </select>

    <div class="add-employee-wrapper">
        <button class="btn-primary" (click)="toggleAddMenu()">
            <i class="ri-user-add-fill"></i> Thêm nhân viên mới
        </button>

        <!-- menu chọn -->
        <div class="add-menu" [class.show]="isAddMenuVisible">
            <div class="add-option manual" (click)="openAddPopup('manual')">
            Nhập thủ công
            </div>
            <div class="add-option excel">
              <label for="excelInput">Nhập từ Excel</label>
              <input
                id="excelInput"
                type="file"
                accept=".xlsx,.xls,.csv"
                (change)="onExcelSelected($event)"
              />
            </div>
        </div>
    </div>
    </div>
    <app-add-employee-popup *ngIf="showAddPopup" (close)="closeAddPopup()"></app-add-employee-popup>
 </div>
 </div>
<div class="employee-table">
  <div class="table-header">
    <h3>Danh sách nhân viên <span>({{ employees.length }} nhân viên)</span></h3>

  </div>

  <table>
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Nhân viên</th>
        <th>Mã NV</th>
        <th>Chức vụ</th>
        <th>Phòng ban</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody *ngFor="let emp of paginatedEmployees; let i = index">
  <tr>
    <td><input type="checkbox"></td>

    <td>
      <div class="employee-info">
        <div class="avatar blue">
          {{ getInitials(emp.tenNhanVien) }}
        </div>
        <div class="details">
          <p class="name">{{ emp.tenNhanVien }}</p>
          <span>Ngày vào: {{ emp.ngaySinh | date:'dd/MM/yyyy' }}</span>
        </div>
      </div>
    </td>

    <td>{{ emp.maNhanVien }}</td>
    <td>{{ emp.tenViTri }}</td>
    <td>{{ emp.tenKhoa }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.sdt }}</td>

    <td>
      <span class="status active">{{ emp.trangThai }}</span>
    </td>

    <td class="action-cell">
      <div class="action-wrapper">
        <i class="ri-more-2-line action-icon" (click)="toggleMenu(i)"></i>

        <div class="action-menu" [class.show]="activeMenu === i">
          <div class="menu-item view" (click)="openDetailPopup(emp)">
            <i class="ri-eye-fill"></i>
            <span>Xem chi tiết</span>
          </div>
          <div class="menu-item edit">
            <i class="ri-pencil-fill"></i>
            <span>Cập nhật</span>
          </div>
          <div class="menu-item delete">
            <i class="ri-delete-bin-fill"></i>
            <span>Xóa</span>
          </div>
        </div>
      </div>
    </td>
  </tr>
</tbody>

  </table>
   <app-employee-detail-popup
    *ngIf="showDetailPopup"
    [employee]="selectedEmployee!"
    (close)="closeDetailPopup()">
</app-employee-detail-popup>

  <div class="table-footer">
    <p>Hiển thị 1–10 trong tổng số {{ employees.length }} nhân viên</p>
    <div class="pagination">

  <!-- Prev -->
  <button (click)="prevPage()" [disabled]="page === 1">Trước</button>

  <!-- List pages -->
  <button
    *ngFor="let p of pages"
    [class.active]="page === p"
    (click)="changePage(p)">
    {{ p }}
  </button>

  <!-- Next -->
  <button (click)="nextPage()" [disabled]="page === totalPages">Tiếp</button>

</div>

  </div>
</div>
</div>

 