<div class="card">
  <h5>Cài đặt bảo mật</h5>

  <div class="row">
    <div>
      <strong>Xác thực 2 yếu tố (2FA)</strong>
      <p>Tăng cường bảo mật tài khoản</p>
    </div>
    <input type="checkbox">
  </div>

  <div class="row">
    <label>Đổi mật khẩu lần cuối</label>
    <span>01/03/2024</span>
  </div>
<button class="btn-outline" (click)="showChangePassword = true">

  Đổi mật khẩu
</button>
<app-change-password
  [isOpen]="showChangePassword"
  (closePopup)="showChangePassword = false">
</app-change-password>

</div>
