.export-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 14px;
  background: #ffffff;
  border-radius: 10px;
  width: 1250px;

}

/* Tổng cộng */
.total-box {
  font-size: 15px;
  color: #111827;

  .label {
    margin-right: 6px;
    font-weight: 500;
  }

  .value {
    font-weight: 700;
    font-size: 16px;
  }
}

/* Actions */
.actions {
  display: flex;
  gap: 10px;

  .btn {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

    transition: all 0.2s ease;

    svg.icon {
        width: 16px;
        height: 16px;
        fill: currentColor; // 🔥 quan trọng
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .excel {
    background: #16a34a; // xanh Excel

    &:hover {
      background: #15803d;
    }
  }

  .pdf {
    background: #dc2626; // đỏ PDF

    &:hover {
      background: #b91c1c;
    }
  }
}
